.container {
  --background: var(--secondary);
}
.ion-item {
  --background: var(--white);
  --border-radius: 0.5rem;
}
.input {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}
.login-button {
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --border-radius: 0.5rem;
}
