<ion-content class="container">
  <section class="relative bg-secondary">
    <div class="relative h-[8.75rem] bg-accent">
      <ion-img
        src="assets/images/logo-with-text.png"
        alt="logo"
        class="absolute -bottom-10 right-5 max-w-[6.75rem]"
      />
    </div>
    <div class="flex flex-col gap-10 px-5 py-10 bg-secondary">
      <div class="flex flex-col gap-1">
        <h1 class="font-bold text-sm uppercase">Register</h1>
        <h2 class="font-bold text-4xl capitalize">Create an account</h2>
        <h3 class="text-sm text-text-secondary font-bold">
          Connect to the biggest learning community.
        </h3>
      </div>
      <form
        [formGroup]="signUpForm"
        class="flex flex-col gap-4"
        (ngSubmit)="handleSignUp()"
      >
        <ion-list
          lines="none"
          class="flex flex-col gap-4 -m-1 p-1 bg-secondary"
        >
          <ion-item class="ion-item rounded-lg shadow">
            <ion-icon
              src="assets/icons/envelope.svg"
              class="text-base"
            ></ion-icon>
            <ion-input
              formControlName="email"
              type="email"
              [clearInput]="true"
              placeholder="Enter your email"
              class="input ml-4 border-none"
            >
            </ion-input>
          </ion-item>
          <ion-item class="ion-item rounded-lg shadow">
            <ion-icon src="assets/icons/lock.svg" class="text-base"></ion-icon>
            <ion-input
              formControlName="password"
              type="password"
              [clearInput]="true"
              placeholder="Enter your password"
              class="input ml-4 border-none"
            >
            </ion-input>
          </ion-item>
          <ion-item class="ion-item rounded-lg shadow">
            <ion-icon src="assets/icons/lock.svg" class="text-base"></ion-icon>
            <ion-input
              formControlName="confirmPassword"
              type="password"
              [clearInput]="true"
              placeholder="Re-type your password"
              class="input ml-4 border-none"
            >
            </ion-input>
          </ion-item>
        </ion-list>
        <h4 class="font-bold text-sm text-text-secondary">
          Password must be at least 8 characters
        </h4>
        <ion-button
          type="submit"
          color="tertiary"
          class="login-button m-0 font-bold text-lg uppercase"
          >Create account</ion-button
        >
      </form>
      <div class="flex flex-col gap-4">
        <div class="flex items-center justify-center gap-8">
          <span class="w-16 h-px bg-text-secondary"></span>
          <span class="font-bold text-xs text-text-tertiary uppercase">Or</span>
          <span class="w-16 h-px bg-text-secondary"></span>
        </div>
        <div class="flex gap-3">
          <button
            type="button"
            class="ion-activatable overflow-hidden relative flex-1 flex items-center justify-center p-4 h-12 bg-white border border-[#F4F5F7] rounded-lg shadow"
          >
            <ion-icon
              src="assets/icons/logo-google.svg"
              class="text-xl"
            ></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
          <button
            type="button"
            class="ion-activatable overflow-hidden relative flex-1 flex items-center justify-center p-4 h-12 bg-white border border-[#F4F5F7] rounded-lg shadow"
          >
            <ion-icon
              src="assets/icons/logo-facebook.svg"
              class="text-xl"
            ></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </div>
      <div class="flex justify-center gap-1 font-bold text-sm">
        <span class="text-text-secondary">Already have an account?</span>
        <a [routerLink]="['/login']" [replaceUrl]="true" class="text-accent"
          >Log in</a
        >
      </div>
    </div>
  </section>
</ion-content>
