<div class="p-3 bg-white border border-light-gray rounded-xl shadow">
  <div class="flex flex-col gap-2">
    <div class="flex items-center justify-between">
      <span class="font-medium text-sm">13/10/2023</span>
      <span class="font-medium text-sm">By user20ct4106</span>
    </div>
    <div class="flex items-center justify-between">
      <span class="font-bold text-xl">Best tutor ever!</span>
      <div class="flex items-center gap-1">
        <span class="font-bold text-xl"> 5/5 </span>
        <img src="assets/icons/star.svg" alt="rating-icon" />
      </div>
    </div>
    <p class="text-text-secondary">
      "Absolutely fantastic tutor! Their deep knowledge and patient teaching
      style made a significant impact on my understanding of the subject."
    </p>
  </div>
</div>
