<ion-content class="content">
  <div class="relative bg-secondary">
    <!-- Start: Header -->
    <header
      class="sticky top-0 z-10 flex items-center justify-between gap-2 px-5 py-2 h-[4.25rem] bg-secondary"
    >
      <ion-button
        size="small"
        shape="round"
        class="button aspect-square"
        (click)="handleBack()"
      >
        <ion-icon
          slot="icon-only"
          name="arrow-back-outline"
          class="text-text-secondary"
        ></ion-icon>
      </ion-button>
      <h1 class="font-bold text-xl text-text-secondary">Setting</h1>
      <ion-button
        size="small"
        shape="round"
        class="button aspect-square"
        (click)="handleNavigateNotification()"
      >
        <ion-icon
          slot="icon-only"
          name="notifications-outline"
          class="text-text-secondary"
        ></ion-icon>
      </ion-button>
    </header>
    <!-- End: Header -->

    <!-- Start: Body -->
    <section class="flex flex-col gap-4 mb-20 px-5 py-2">
      <div class="bg-white rounded-xl shadow">
        <ion-select
          label="Language/Ngôn ngữ"
          placeholder="English"
          class="px-5 py-1 font-medium"
        >
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="vi">Tiếng Việt</ion-select-option>
        </ion-select>
        <ion-toggle
          class="flex items-center justify-between px-5 py-2.5 font-medium"
          >Allow access to clipboard</ion-toggle
        >
        <ion-toggle
          class="flex items-center justify-between px-5 py-2.5 font-medium"
          >Allow notification</ion-toggle
        >
      </div>
      <div class="overflow-hidden bg-white rounded-xl shadow">
        <button
          type="button"
          class="ion-activatable relative flex items-center justify-between px-5 py-3.5 w-full font-medium"
        >
          <span>Privacy Policy</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
        <button
          type="button"
          class="ion-activatable relative flex items-center justify-between px-5 py-3.5 w-full font-medium"
        >
          <span>Terms & Conditions</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
        <button
          type="button"
          class="ion-activatable relative flex items-center justify-between px-5 py-3.5 w-full font-medium"
        >
          <span>About TutorConnect's Team</span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      <ion-button
        class="logout-button font-bold text-lg text-accent rounded"
        (click)="handleLogout()"
      >
        Log out
        <ion-icon slot="start" src="assets/icons/logout.svg"></ion-icon>
      </ion-button>
    </section>
    <!-- End: Body -->
  </div>
</ion-content>
