.content {
  --background: var(--secondary);
}
.button {
  --padding-top: 0.5rem;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --padding-bottom: 0.5rem;
  --background: var(--secondary);
  --background-hover: var(--light-gray);
  --background-activated: var(--light-gray);
  --box-shadow: none;
}
