<ion-content class="container">
  <div class="relative bg-secondary">
    <!-- Start: Header -->
    <header
      class="sticky top-0 flex items-center gap-2 px-5 py-2 h-[4.25rem] bg-secondary"
    >
      <ion-searchbar
        show-clear-button="focus"
        class="overflow-hidden h-full bg-white rounded-full shadow [--background:var(--white)]"
      ></ion-searchbar>
      <ion-button size="small" shape="round" class="button aspect-square">
        <ion-icon
          slot="icon-only"
          name="notifications-outline"
          class="text-text-secondary"
        ></ion-icon>
      </ion-button>
    </header>
    <!-- End: Header -->

    <!-- Start: Body -->
    <section class="bg-secondary"></section>
    <!-- End: Body -->
  </div>
</ion-content>
