<div class="flex gap-2.5 p-2 bg-white rounded-xl shadow">
  <div
    class="flex items-center justify-center p-5 min-w-20 aspect-square bg-secondary rounded-lg"
  >
    <img
      src="assets/images/placeholder.png"
      alt="placeholder"
      class="object-fit w-16"
    />
  </div>
  <div class="flex flex-col gap-1">
    <div class="flex items-center gap-2">
      <span class="font-medium text-xs">Booking</span>
      <span class="w-1 h-1 bg-text-secondary rounded-full"></span>
      <span class="text-xs">5 minutes ago</span>
    </div>
    <span class="font-bold">Request Rejected</span>
    <span class="text-xs text-text-secondary"
      >Booking #8238 has been rejected.</span
    >
  </div>
</div>
